ul{
    padding: 20px;
    height: 50px;
    background-color: violet;
    line-height: 50px;
    width: 400px;
}

li{
    list-style: none;
    display: inline;
    color: white;
    margin-left: 20px;
    padding: 20px
}

li:hover{
    background-color: blue;
    cursor: pointer;
}