h1{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2{
    text-align: center;
    margin-bottom: 2rem;
}

.row{
    margin-top: 3rem;
}

.container{
    border: 1px solid grey;
    border-radius: 9px;
    box-shadow: 10px 5px 5px 0px #dedade;
    padding: 2rem;
    background-color: rgb(255, 251, 189);
    margin-bottom: 2rem;
}

.btn{
    margin-bottom: 2rem;
}

.alert, .text-danger, .text-warning{
    display: none;
}