<!DOCTYPE html>


<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Título</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:text = "${msg}"></div>
        <div th:if="${personas != null and !personas.empty}">
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${personas}">
                    <td th:text="${i.nombre}"></td>
                    <td th:text="${i.apellidos}"></td>
                    <td th:text="${i.email}"></td>
                    <td th:text="${i.telefono}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${personas != null and !personas.empty}">
           <div>La lista está vacía.</div>
        </div>
    </body>
</html>
