h1{
    text-align: center;
    margin-top: 24px;
}

.form-row{
    margin-top: 16px;
}

#row_passwd{
    background-color: rgb(64, 210, 161);
    border-radius: 9px;
    box-shadow: 10px 5px 5px 0px #dedade;
    padding: 2rem;
    margin-top: 2rem;
}


#mensajes{
    background-color: rgb(225, 254, 255);
    border-radius: 9px;
    box-shadow: 10px 5px 5px 0px #dedade;
    padding: 2rem;
    margin-top: 2rem;
    display: none;
}

.msg_passwd{
    color: red;
}

#p_correcto{
    color: rgb(64, 210, 161);
    text-align: center;
}

#p_vacio{
    color: orange;
    text-align: center;
}
