button{
    width: 100px;
    border: 4px solid grey;
    padding: 5px;
}

.boton-click{
    background-color: rgb(34, 185, 34);
    color: white;
    border-radius: 9px;
}

.boton-click:hover{
    background-color: white;
    color: rgb(34, 185, 34);
}

.boton-click-restar{
    background-color: rgb(225, 193, 48);
    color: white;
    border-radius: 9px;
    margin-left: 3rem;
}

.boton-click-restar:hover{
    background-color: white;
    color: rgb(225, 193, 48);
}

.boton-reiniciar{
    background-color: rgb(74, 74, 225);
    color: white;
    margin-left: 3rem;
    border-radius: 9px;
}

.boton-reiniciar:hover{
    background-color: white;
    color: rgb(74, 74, 225);
}